<div class="container">
  <div class="container__header">
    <div class="container__button" (click)="leaveRoom()">Leave</div>

    <div class="container__info">Room: {{ roomName }}</div>
  </div>

  <ng-container
    *ngIf="{
      game: game$ | async,
      status: status$ | async,
      messages: messages$ | async
    } as roomState"
  >
    <ng-container *ngIf="roomState.status === gameStatus.ROOM_FULL">
      {{ leaveRoom() }}
    </ng-container>

    <ng-container *ngIf="roomState.game as game">
      <ng-container *ngIf="roomState.status as status">
        <app-play-board
          class="container__playboard"
          [game]="game"
          [status]="status"
          (sendGameStateUpdate)="onGameStateUpdate($event)"
        ></app-play-board>
      </ng-container>
    </ng-container>

    <app-chat
      class="container__chat"
      [messages]="roomState.messages"
      (sendMessage)="sendMessage($event)"
    ></app-chat>
  </ng-container>
</div>
