<div class="container">
  <div #chatMessages class="container__messages">
    <div class="message" *ngFor="let message of messages">
      <span>
        {{ message.date | date : "mediumTime" }}
      </span>
      <span> | </span>
      <span
        class="message__from"
        [ngClass]="{
          'message__from--you': message.from === 'You',
          'message__from--foe': message.from === 'Foe',
          'message__from--server': message.from === 'Server'
        }"
      >
        {{ message.from }}
      </span>
      <span>: </span>
      <span>
        {{ message.text }}
      </span>
    </div>
  </div>

  <div class="container__wrapper">
    <input
      class="container__input"
      [(ngModel)]="message"
      (keydown.enter)="onSendMessage()"
      autofocus
    />
    <button
      class="container__button"
      [ngClass]="{ 'container__button--disabled': !message }"
      (click)="onSendMessage()"
    >
      Send
    </button>
  </div>
</div>
