.container {
  height: 100%;
  margin: 0 1rem;

  &__game {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__board {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__group {
    display: flex;
    justify-content: center;
    gap: 1rem;
    height: 28%;
  }

  &__item {
    max-width: 2rem;
    width: 10%;
    height: 100%;

    border: 2px solid #1a1a1a;
    cursor: pointer;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);

    &--selected {
      background-color: #1a1a1a;
      box-shadow: 0px 0px 20px #0066ff;
    }

    &--disabled {
      border: 2px solid #454545de;
      background-color: #ebebe4;
      pointer-events: none;
    }

    // Desktop
    @media (any-pointer: fine) {
      &:hover {
        background-color: #1a1a1a;
        transform: translateY(-1px);
      }
    }
  }

  &__button {
    width: fit-content;
    border: 2px solid #1a1a1a;
    color: #3b3b3b;
    cursor: pointer;
    font-size: 1.5rem;
    min-height: 2rem;
    margin-top: 0.5rem;
    padding: 0.2rem 1rem;
    text-align: center;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);

    &--disabled {
      border: 2px solid #454545de;
      background-color: #ebebe4;
      pointer-events: none;
    }

    // Mobile
    @media (any-pointer: coarse) {
      &:active {
        color: #fff;
        background-color: #1a1a1a;
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-1px);
      }
    }

    // Desktop
    @media (any-pointer: fine) {
      &:hover {
        color: #fff;
        background-color: #1a1a1a;
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-1px);
      }
    }
  }

  &__waiting {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
    padding-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  &__game-over {
    text-align: center;
  }

  &__info {
    &--won {
      color: #0066ff;
    }

    &--lost {
      color: #dc143c;
    }
  }

  &__label {
    &--desktop {
      @media (max-width: 500px) {
        display: none;
      }
    }

    &--mobile {
      @media (min-width: 500px) {
        display: none;
      }
    }
  }
}
