<div class="container">
  <div class="container__title">NIM</div>

  <div class="container__form">
    <input
      class="container__input"
      [(ngModel)]="roomName"
      placeholder="Room name"
      (keydown.enter)="createRoom()"
      autofocus
    />
    <div
      class="container__button"
      [ngClass]="{ 'container__button--disabled': !roomName }"
      (click)="createRoom()"
    >
      Create room
    </div>
  </div>

  <ng-container *ngIf="rooms$ | async as rooms">
    <ng-container *ngIf="rooms.length; else noRooms">
      <div class="container__label">Rooms:</div>
      <div class="container__rooms">
        <div
          class="container__button"
          *ngFor="let room of rooms"
          (click)="joinRoom(room)"
        >
          {{ room }}
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #noRooms>
    <div class="container__label">No rooms yet</div>
  </ng-template>
</div>
